

html, body {

    height: 100%;
    margin: 0;
}

body {

    font-size: 17px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
   
   

}

p {

    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.main-bio {

        padding-left: 50px;
        padding-right: 50px;

}

h1 {

        padding-top: 30px;
        padding-left: 50px;
        color: #4aaaa5;
}

/* Appy CSS to the teal box with my name */
#box1 {

    margin-top: 100px;
    margin-left: 25%;
    width: 250px;
    height: 76px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 60px;
    padding-top: 25px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
/* Apply CSS to the top border or navbar of the page */
#relative {

    border-bottom: solid #cccccc 3px;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

img {

    width: 130px;
    height: 130px;
    float: left;
    padding: 15px 15px 15px 50px;


}

p.clear {

    clear: both;

}

.wrapper {

        min-height: 100%;
        margin-bottom: -50px;




}



.content {

    width: 50%;
    border: 2px solid #dddddd;
    margin: 20px 20px 215px 25%;
    padding-bottom: 35px;
    flex: 1 0 auto;
    background-color: #ffffff;

}

 .footer {


    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    flex-shrink: 0;
    font-size: 13px;
    padding-top: 22px;
    text-align: center;
    color: #cccccc;

}

.footer,
.push {

    height: 22px;

}


.simpleanchor {

    float: right;
    padding: 150px 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-right: 25px;
    color: #777777;
    text-decoration: none;


}
